* {
  background-color: black;
  width: 99%;
}

/***********************
********Header
************************/

.header .logo {
  width: 40%;
}

.header .logo img {
  width: 30%;
}

@media screen and (max-width: 430px) {
  .header .logo img {
    width: 80%;
    margin: 0 90px;
  }
}

img.dots {
  display: none;
}

@media screen and (max-width: 430px) {
  img.dots {
    width: 60px;
    display: block;
  }
}
img.searchkey {
  position: absolute;
  top: 1%;
  width: 18px;
  left: 40%;
  margin: 15px;
  z-index: 1;
}
@media screen and (max-width: 600px) {
  img.searchkey {
    top: 1%;
    left: 28%;
  }
}
@media screen and (max-width: 430px) {
  img.searchkey {
    top: 1%;
    left: 85%;
    width: 25px;
  }
}

input.searchbar {
  padding: 6px 34px;
  border: 1px solid whitesmoke;
  position: absolute;
  width: 18%;
  left: 20%;
  top: 0%;
  margin: 15px;
}

@media screen and (max-width: 600px) {
  input.searchbar {
    top: 0;
    width: 10%;
    left: 10%;
  }
}
@media screen and (max-width: 430px) {
  input.searchbar {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}
select {
  color: #fdfafa;
  width: auto;
  font-size: 20px;
  border: 0;
}
@media screen and (max-width: 430px) {
  select {
    display: none;
  }
}
img.favheart {
  width: 120px;
  position: relative;
  top: 2px;
}
@media screen and (max-width: 430px) {
  img.favheart {
    display: none;
  }
}

/**********************
********Actions
***********************/
.action-heading {
  color: #fdfafa;
}
@media screen and (max-width: 430px) {
  .action-heading {
    text-align: center;
  }
}
/**********************
******Comedy
*********************/

.comedy-header {
  color: #ffffff;
  font-family: "Spartan";
  font-size: 20px;
}

.comedy {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}

ul.column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 125vh;
}
section.action {
  display: contents;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
}
li.option {
  position: relative;
  padding: 5px;
  width: 100%;
  margin-bottom: 30px;
}

img.heart {
  width: 42px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0px;
  right: 5px;
}
img.star {
  width: 11%;
  height: 49%;
  position: relative;
  top: 12px;
}

.images ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  color: #fdfafa;
  margin-top: 40px;
  padding: 0;
}
@media screen and (max-width: 800px) {
  .images ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    color: #fdfafa;
    margin: auto;
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  .images ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    color: #fdfafa;
    margin: auto;
    padding: 0;
  }
}

@media screen and (max-width: 430px) {
  .images ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    list-style: none;
    color: #fdfafa;
    margin: auto;
    padding: 0;
    width: 55%;
  }
}
.last {
  width: 100%;
  height: 36px;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 0;
}
p.heading {
  margin: 10px;
}
.images .last .btn {
  background-color: #707070;
  color: #ffffff;
  width: 90px;
  border: 0;
  border-radius: 3 px;
  padding: 10px 24px;
  height: 36px;
}
@media only screen and (max-width: 500px) {
  .images .last .btn {
    width: 70px;
    border: 0;
    padding: 0% 2%;
    height: 4vh;
  }
}
footer img {
  width: 70px;
}
hr {
  width: 85%;
  color: #fdfafa;
  border: 0px solid #fdfafa;
  border: 1px solid #ffffff26;
}
